doctype
html
    head
        meta(charset="utf-8")
        title= `README`
        link(rel='stylesheet', type='text/css', href='main.css')
        style.
          body{
            font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          }
    body
        include ../temp/README.html
